bin/*
obj/
.tup/*
tup.config
tup-generate.vardict
!bin/README.md
!bin/masters.lib

# Converted sprites
*.[ac]sp
*.[AC]SP

# Build logs & temp listing files
build_*.log
*.LST
*.lst
TH04_fixed*.DAT
TH04.DAT
main_pad*.exe
main_good*.exe
zuninit_str.txt
